
.neumorphic-container {
  /* position: absolute;
  height: 100%;
  top:-50%;
  left: 75%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; Ensures the container takes the full viewport height */
  /* background-color: #f5f5f5; Optional: light background for better visibility */

}

table.neumorphic-table{
  width: 90%;
  border-spacing: 0;
  border-collapse: collapse; 
  color: #212121;
  text-align: center;
  overflow: hidden;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
}
table.neumorphic-table thead{
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
}
table.neumorphic-table th{
    padding-top: 12px;
    padding-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}

table.neumorphic-table>tbody>tr>td {
  padding: 10px;
  font-size: 14px;
  position: relative;
  /* border-style: double; */
  /* border: ; */
}


table.neumorphic-table>tbody>tr:hover {
  padding: 20px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
}

table.neumorphic-table tr td:first-child::before {
  content: "";
  position: absolute;
  padding: 7px;
  top: 0;
  /* left: -5000px; */
  /* width: 10000px; */
  /* height: 100%; */
  /* z-index: -10; */
}

table.neumorphic-table td:hover::after {
  content: "";
  position: absolute;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}



/*neumorphic design dropdown */
.neumorphic-dropdown {
  background: #dde1e7;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),-4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255,255,255,.5),inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  /* box-shadow: 6px 6px 12px #c2c5cc, -6px -6px 12px #ffffff; */
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.neumorphic-dropdown:hover {
  box-shadow: 4px 4px 8px #c2c5cc, -4px -4px 8px #ffffff;
}

.neumorphic-dropdown:focus {
  box-shadow: inset 4px 4px 8px #c2c5cc, inset -4px -4px 8px #ffffff;
}

.neumorphic-dropdown-menu {
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #c2c5cc, -4px -4px 8px #ffffff;
}

.neumorphic-dropdown-menu .dropdown-item {
  background: transparent;
  padding: 8px 16px;
  color: #333;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.neumorphic-dropdown-menu .dropdown-item:hover {
  background: #cfd3d8;
  box-shadow: inset 2px 2px 4px #c2c5cc, inset -2px -2px 4px #ffffff;
  color: #111;
}
