
.body-bg-color{
    background-color: #dde1e7;
  /* background-color: #f2f7fd; */
  /* background-color: #f2f7fd; */

}



/* .project-card {
    background: #dde1e7;
    border-radius: 20px;
    margin: 20px;
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
    transition: box-shadow 1s ease; /* Smooth transition for hover effect 
  }
  
  .project-card:hover {
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
  } */

  .project-card {
    background: #dde1e7;
    border-radius: 20px;
    margin: 10px;
    box-shadow: -10px -10px 18px rgba(255, 255, 255, 0.45), 10px 10px 18px rgba(94, 104, 121, 0.3); /* Outer shadow as default */
    transition: box-shadow 1s ease, transform 0.3s ease; /* Smooth transition for hover effects */
    position: relative; /* Needed to control z-index */
  }
  
  .project-card:hover {
    /* box-shadow: inset -10px -10px 18px rgba(255, 255, 255, 0.45), inset 10px 10px 18px rgba(94, 104, 121, 0.3); Inset shadow on hover */
    transform: scale(1.05); /* Slight zoom effect */
    z-index: 10; /* Bring the card to the front */
  }
  

  

/* .search-box{
    text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.search-box input[type="text"] {
  background: #dde1e7; /* Light background color for the neumorphic effect */
  border-radius: 20px; /* Rounded corners for a soft appearance */
  border: none; /* Remove default borders */
  padding: 10px 20px; /* Inner spacing for a clean look */
  font-size: 16px; /* Readable font size */
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5), /* Inner shadows for embossing */
              inset 5px 5px 10px rgba(94, 104, 121, 0.3),
              -10px -10px 20px rgba(255, 255, 255, 0.8), /* Outer shadows for depth */
              10px 10px 20px rgba(94, 104, 121, 0.5);
  outline: none; /* Remove focus outline */
  width: 100%; /* Full width */
  transition: box-shadow 0.3s ease, transform 0.2s ease; /* Smooth interaction */
}

.search-box input[type="text"]:focus {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5),
              inset 5px 5px 10px rgba(94, 104, 121, 0.3),
              -10px -10px 25px rgba(255, 255, 255, 1),
              10px 10px 25px rgba(94, 104, 121, 0.7);
  transform: scale(1.02); /* Slight zoom effect on focus */
}

.search-button {
  background: #dde1e7; /* Matches the neumorphic theme */
  border-radius: 50px; /* Fully rounded button */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Inner spacing */
  /* box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 
              5px 5px 10px rgba(94, 104, 121, 0.3); */
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.5), 
               10px 10px 20px rgba(94, 104, 121, 0.3);
  cursor: pointer; /* Pointer cursor for interactivity */
  transition: box-shadow 0s ease, transform 0.2s ease; /* Smooth interactions */
  color:black ;
}

.search-button:hover {
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.8),
              10px 10px 30px rgba(94, 104, 121, 0.5);
  transform: scale(1.1); /* Slight zoom effect on hover */
}
.search-button:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}
/* 
.alfprojects-container {
    display: flex;
    height: 100vh;
}

.alfprojects-container .TrySideNav {
    width: 250px; /* Adjust as necessary 
    min-width: 250px;
    background-color: #333; /* Match your theme 
}

.alfprojects-container .main-content {
    flex: 1;
    padding: 20px; /* Adjust for desired spacing 
    overflow-y: auto; /* Ensure scroll if content is long 
    background-color: #f8f9fa; /* Your main content background color 
} */



/* ============================= style for TrySideNav.jsx ==================== */

.nav-text {
    display: none;
    position: absolute;
    left: 60px; /* Adjust based on icon size */
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .SideNav__navitem:hover .nav-text {
    display: block;
  }
  


  /*
  select style
  */
/* General styling for react-select */



/* .email-input-container {
  width: 100%;
  margin: 0 auto; 
}

.email-label {
  display: block;
  width: 100%;
} 

.email-input {
  width: 100%;
  padding: 16px; 
  border: none;
  border-radius: 320px;
  background-color: #dde1e7; 
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; 
  transition: all 0.2s ease-in-out;
  outline: none;
}

.email-input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; 
} */

.email-input-container {
  position: relative;
  width: 100%;
  margin: 0 auto; /* Center the input field */
}

.email-input {
  width: 100%;
  padding: 16px; /* Base size for spacing */
  border: none;
  border-radius: 320px; /* Rounded corners */
  background-color: #dde1e7; /* Light gray background */
  /* box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; Neumorphic effect */
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Font size */
  transition: all 0.2s ease-in-out; /* Smoother transition */
  outline: none;
  z-index: 1;
  position: relative;
}

.email-input:focus {
  transform: scale(1.009); /* Slight zoom effect */
  z-index: 10; /* Bring the focused input field to the foreground */
  /* box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF, 0 4px 15px rgba(0, 0, 0, 0.2); */
  box-shadow:  -5px -5px 10px rgba(255, 255, 255, 0.5), /* Inner shadows for embossing */
               5px 5px 10px rgba(94, 104, 121, 0.3),
              -10px -10px 20px rgba(255, 255, 255, 0.8), /* Outer shadows for depth */
              10px 10px 20px rgba(94, 104, 121, 0.5); 
}
:root {
  /* --nColor: #aaa; */
  --nColor:#dc3545;
  /* --nColor:#fbbc05; */
  /* --nColor:#007bff; */
  --brShadow: -6px 6px 10px rgba(0,0,0,0.5);
  --tlShadow: 6px -6px 10px rgba(255,255,255,0.5);
 }
/* :root {
  --nColor: #db3d44; 
  --brShadow: -6px 6px 10px rgba(139, 30, 34, 0.7);
  --tlShadow: 6px -6px 10px rgba(255, 90, 100, 0.5);
} */


.n-text {
  color: var(--nColor);
  text-shadow: var(--brShadow), var(--tlShadow);
  font-size: 5em;
  font-weight: bold;
 }

 .project-button{
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
  transition:all 0.3s ease;
  }

  .project-button:hover{
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.7), 
              10px 10px 20px rgba(136, 144, 160, 0.5);
    /* box-shadow: -10px -10px 20px rgba(90, 140, 255, 0.6), 
    10px 10px 20px rgba(0, 60, 160, 0.5); */
    /* box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.8),
    10px 10px 30px rgba(94, 104, 121, 0.5); */
transform: scale(1.1);  /* Slight zoom effect on hover */
background-color: #fff;
color: #007bff;
}



.project-button-danger {
  background-color: #dc3545; /* Red shade */
  border: none;
  border-radius: 10px;
  color: #fff; /* White text for contrast */
  padding: 8px;
  transition: all 0.3s ease;
}

.project-button-danger:hover {
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.7), 
              10px 10px 20px rgba(136, 144, 160, 0.5);
  transform: scale(1.1); /* Slight zoom effect on hover */
  background-color: #fff; /* Lighten background on hover */
  color: #dc3545; /* Red text on hover */
}

.project-button-success {
  background-color: #28a745; /* Green shade */
  border: none;
  border-radius: 10px;
  color: #fff; /* White text for contrast */
  padding: 8px;
  transition: all 0.3s ease;
}

.project-button-success:hover {
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.7), 
              10px 10px 20px rgba(136, 144, 160, 0.5);
  transform: scale(1.1); /* Slight zoom effect on hover */
  background-color: #fff; /* Lighten background on hover */
  color: #28a745; /* Green text on hover */
}
